@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}
.navbar{
    background-color: darkblue;
    margin-bottom: 30px;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}

#p_index{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.img_index{
    height: 400px;
}
.card{
    margin-top: 40px;
    margin-bottom: 20px;
    min-width: 15rem;
    border: 2px solid darkblue;
    text-align: center;
}

.card_index{
    height: 350px;
}

.card-img-top{
    height: 250px;
}

.container-fluid{
    margin: 0%;
    padding: 10px;

}

.accordion-item{
    border: 2px solid darkblue;

}

.accordion-button{
    background-image: linear-gradient(to left, white, blue, darkblue);
    color: white;
}

.img_carrousel{
    height: 600px;
}


.carousel{
    margin: 40px;
    border: 2px solid darkblue;
}

iframe{
    height: 100%;
    width: 100%;
}

.navbar-toggler{
    background-color: white;
    
}
.navbar-toggler-icon{
    color: black;
}


.bi{
    padding-right: 10px;
    font-size: 40px;
}

.bi-menu-button-wide{
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width:999px){
    .justify-content-center{
        display: grid;
        grid-template-columns: 1ft;
    }

}